.btn-action.detail-attr.qty-cart {
    width: 100% !important;
    display: flex;
    justify-content: space-between;
}

#shopify-section-template--18704626745601__main button {
    width: auto!important;
}

/*immagini prodotti*/
.img-product {
    aspect-ratio: 3 / 4;
    overflow: hidden;
    display: block;
    position: relative;
    background-color: #eee7dc;
    object-fit: contain;
}

/*caroselli di prodotti*/
.pagi-nav .next a {
  font-size: 0;
}

.pagi-nav .next a::after {
  content: '»'; 
  font-size: 16px;
}

/*Privacy policy*/
.shopify-policy__container {
    max-width: 560px;
    max-width: 100%;
    margin: 100px auto;
    padding-left: 100px;
    padding-right: 100px;
}


@media(max-width:879px){
  /*.img-product.relative {
    height: 250px;
    object-fit: cover;
    width:100%;
}*/

 footer.footer_v1 .row > .col-lg-4:first-child {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }

  footer.footer_v1 .row > .col-lg-3,
  footer.footer_v1 .row > .col-lg-2 {
    width: 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    text-align: left;
  }

  footer.footer_v1 .row {
    display: flex;
    flex-wrap: wrap;
  }

  footer.footer_v1 .info_footer {
    padding: 10px;
  }

  .section-product-v2 .nav-tabs.title-tab li .ds-prod-1 {
        font-size: 11px;
        padding: 10px 15px;
        height: 30px;
    }

}
  #shopify-section-template--18704626745601__main button {
    padding: 0px 17px!important;
  }

.content-404 .title-404{
  color: white!important;
}
.content-404 .page-title{
  color: white!important;
}

.content-404 .sub-title, .content-404 .sub-link{
  color:#f3f3f3;
  font-weight:600 !important;
}

/*modifiche pagina account-ordini*/
._1m2hr9g19 {
    --_1m2hr9gb: #cea384!important;
    --_1m2hr9gc: #cea384;
    --_1m2hr9g6: #cea384;
}